@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Architects Daughter", serif;
}

/* slider style */

.slider-container {
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 15%;
    height: auto;
    padding: 20px;

}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #ffffff;
    border-radius: 15%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* for tablet */
@media (max-width: 768px) {
    .slick-slide img {
        max-width: 90%;
        padding: 15px;
    }
}

/* for mobile */
@media (max-width: 480px) {
    .slick-slide img {
        max-width: 80%;
        padding: 10px;
    }
}

/* for home page animations */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
}

@layer base {
    body {
        @apply bg-indigo-900;
    }
}

@layer components {
    .hero-card {
        @apply relative overflow-hidden transition-all duration-300 rounded-2xl;
    }

    .hero-card:hover {
        @apply transform scale-105 shadow-xl;
    }
}

/* animation for heros */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* font styles */

@font-face {
    font-family: 'Comic Neue';
    src: url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
}

.font-display {
    font-family: 'Comic Neue', cursive;
}

/* custom scrollbarr styles */

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(139, 92, 246, 0.5) rgba(255, 255, 255, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(139, 92, 246, 0.5);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(139, 92, 246, 0.7);
}