@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Architects Daughter", serif;
}

.slick-slide img {
    display: block;
    max-width: 100%;
    height: auto;
}